<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Site</title>
  </head>
  <body>
    <h2>Creww Me Login Page</h2>
    <form>
      <label>UserName :</label>
      <input placeholder="username" type="text" /><br />
      <label>Password :</label>
      <input placeholder="password" type="password" /><br />
      <button type="button">Submit</button>
    </form>
  </body>
</html>
